*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: black;
  color: white;
}
.newsic{
  display: flex;

}
.card-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: unset;
  font-size: small;
  color: rgb(233, 0, 0);
  background-color: azure;
  
}
.text-bg-secondary {
  color: #fff !important;
  background-color: red;
}
.start-100 {
  right: 90%;
}
.bg-danger {
  --bs-bg-opacity: 1;
  background-color: lightgreen;
}
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  /* border-radius: var(--bs-card-border-radius); */
  margin: 10px;
  height: 433px;
  width: 300px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 10px;
  display: block; /* or inline-block */
  border: 1px solid black;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rowclass{
  min-width: 70px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px){.col-md-4 {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  width: 30%;
}
}
.text-body-secondary {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  margin: 5px;
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #612bce;
  border-color: var(--bs-btn-hover-border-color);
  transform: scale(1.2);
  transition: transform 0.3s ease; 
}
element.style {
  background-color: aquamarine;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: black;
  color: white;
  position: sticky;
  z-index: 1000;
  top: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: var(--bs-navbar-nav-link-padding-x);
  padding-right: var(--bs-navbar-nav-link-padding-x);
  border: 1px solid#a496d7;
  border-radius: 20px;
  margin: 7px
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
  background-color: aquamarine;
  transform: scale(1.2);
  transition: transform 0.3s ease; 

}
.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-left: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease;;
}
.footo{
  border: 2px solid azure ;
  margin-right: 10px;
  overflow-wrap: break-word; 
  word-wrap: break-word;
  width: 200px;
}

.foott{
  border: 2px solid azure ;
  margin-right: 10px;
  overflow-wrap: break-word; 
  word-wrap: break-word;
  width: 100px;
}
.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c5d9f6;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
img, svg {
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth transition */

  cursor: pointer;
  vertical-align: middle;
  height: 200px;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(223, 125, 125), rgb(155, 155, 230));
  
}
.row {
  margin: 19px;
  width: 1200px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(to right,#e1b382, #c89666,#2d545e, #12343b);
  backdrop-filter: blur(100px); /* Adjust the blur radius as needed */

}
imgc:hover {
  transform: scale(1.2); /* Scale the image */

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(223, 125, 125), rgb(155, 155, 230));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; 

}
:root {
  margin-top: 60px;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
  
}

.rowclass {
  min-width: 70px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);    
 background-image: url("abhiram.jpg");
 backgroundSize: 'cover';
 backgroundPosition: 'center' ;
  -webkit-tap-highlight-color: transparent;
}
.text-center {
  cursor: pointer;
  text-align: center !important;
  color: rgb(0, 0, 0);
  position: relative;

  border-radius: 60%;
  width: 80%;
  height: max-content;
}
.hcont{
  display: flex;
  justify-content: center;
  
}

/* .lhdiv{

  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
} */
.hcont{
  width: 620px;
  height: 70px;
  border-radius: 50%;

  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
}


@keyframes example {
  0%   {background-color:rgb(93, 230, 245); left:100px; top:0px;}
 
  100% {background-color:rgb(50, 225, 108); left:620px; top:0px;}
}
.hcont:hover{
  animation-play-state: paused;
}




